<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" th:href="@{/admin-css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/admin-css/slimselect.css}">
	<link rel="stylesheet" th:href="@{/admin-css/admin.css}">

	<!-- Favicons -->
	<link rel="icon" type="image/png" th:href="@{/icon/favicon-32x32.png}" sizes="32x32">
	<link rel="apple-touch-icon" th:href="@{/icon/favicon-32x32.png}">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>FlixGo – Online Movies, TV Shows & Cinema HTML Template</title>

</head>
<body>
<div class="sign section--bg" th:data-bg="@{/img/section/section.jpg}">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sign__content">
					<!-- authorization form -->
					<form action="#" class="sign__form">
						<a th:href="@{/admin/index.html}" class="sign__logo">
							<img th:src="@{/img/logo.png}" alt="">
						</a>

						<div class="sign__group">
							<input type="text" class="sign__input" placeholder="Email">
						</div>

						<div class="sign__group sign__group--checkbox">
							<input id="remember" name="remember" type="checkbox" checked="checked">
							<label for="remember">I agree to the <a href="#">Privacy Policy</a></label>
						</div>

						<button class="sign__btn" type="button"><span>Recover</span></button>

						<span class="sign__text">We will send a password to your Email</span>
					</form>
					<!-- end authorization form -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- JS -->
<script th:src="@{/admin-js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin-js/smooth-scrollbar.js}"></script>
<script th:src="@{/admin-js/slimselect.min.js}"></script>
<script th:src="@{/admin-js/admin.js}"></script>
</body>
</html>
