<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Nhom6</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/plyr.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        .episode-list ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            list-style-type: none;
        }

        .episode-list li {
            margin: 0 10px 10px 0;
        }

        .episode-list a {
            text-decoration: none;
            color: #FFFFFF; /* Màu sắc cho text, có thể thay đổi theo ý muốn */
            padding: 5px 10px;
            border: 1px solid #ccc; /* Viền cho mỗi tập phim, có thể thay đổi theo ý muốn */
            border-radius: 5px; /* Bo góc cho viền */
            transition: background-color 0.3s, color 0.3s;
        }

        .episode-list a:hover {
            background-color: #f0f0f0; /* Màu nền khi hover, có thể thay đổi theo ý muốn */
            color: #333; /* Màu sắc cho text khi hover, có thể thay đổi theo ý muốn */
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <section layout:fragment="content">

    <div class="mini-details">
        <button id="mini-details-btn">
            <img src="../../static/img/logo.png" alt="Logo" class="mini-logo">
        </button>
        <div id="mini-details-menu" class="mini-details-menu">
            <a href="#">Trang của bạn</a>
            <a href="#">Hôm nay xem gì?</a>
            <a href="#">Hôm nay xem gì dành cho bạn?</a>
            <a href="#" id="toggle-mini-details">Tắt mở show mini details</a>
        </div>
    </div>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="categories.html">Categories</a>
                        <a href="#">Romance</a>
                        <span>Fate Stay Night: Unlimited Blade</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        <video id="player" playsinline controls th:src="@{'/movies/' + ${episode.episodeAdress}}" data-poster="./videos/anime-watch.jpg">
                            <track kind="captions" label="English captions" src="#" srclang="en" default />
                        </video>
                    </div>
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>Episode</h5>
                        </div>
                        <div class="episode-list">
                            <ul>
                                <li th:each="ep : ${episodes}">
                                    <a th:href="@{'/movies/' + ${ep.movie.idMovie} + '/' + ${ep.idEpisode}}"
                                       th:text="${ep.name}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Comments</h5>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img th:src="@{/img/anime/review-6.jpg}" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>Bao - <span>5 Hour ago</span></h6>
                                <p>Hay lam</p>
                            </div>
                        </div>
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img th:src="@{/img/anime/review-6.jpg}" alt="">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>Hiep - <span>20 Hour ago</span></h6>
                                <p>Awesome</p>
                            </div>
                        </div>
                    </div>
                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Your Comment</h5>
                        </div>
                        <form action="#">
                            <textarea placeholder="Your Comment"></textarea>
                            <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->
    </section>

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/player.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/mixitup.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/mini-detail.js}"></script>


</body>

</html>