<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Nhom6</title>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/font.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<section layout:fragment="content">
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="img/hero/hero1.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>DragonBall Super 1 </h2>
                                <p>Sau những tháng ngày chờ đợi thì cuối cùng...</p>
                                <a href="#"><span>Xem ngay</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/hero2.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>DragonBall Super 2</h2>
                                <p>Sau sự thành công của DragonBall Super 1 ...</p>
                                <a th:href="@{/user/anime-watching}" ><span>Xem ngay</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="img/hero/hero3.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">Adventure</div>
                                <h2>DragonBall Super: Ngoại truyện</h2>
                                <p>Phần ngoại truyện của DragonBall Super...</p>
                                <a href="#"><span>Xem ngay</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="fas fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="trending-product-container">
                            <div th:each="movie : ${movies}">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" th:style="'background-image: url(' + @{/images/} + ${movie.image} + ')'">
                                            <div class="ep" th:text="${movie.quantityEpisodesNow} + ' / ' + ${movie.totalQuantityEpisodes}">01 / 01</div>
                                            <div class="comment"><i class="fa fa-comments"></i> <span th:text="${movie.quantityRating}">0</span></div>
                                            <div class="view"><i class="fa fa-eye"></i> <span th:text="${movie.totalQuantityView}">0</span></div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li th:text="${movie.status.name}">Active</li>
                                                <li>Movie</li>
                                            </ul>
                                            <h5><a th:href="@{/movie-details/{id}(id=${movie.idMovie})}" th:text="${movie.name}">Movie Name</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="fas fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="popular-product-container">
                            <div th:each="movie : ${movies}">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" th:style="'background-image: url(' + @{/images/} + ${movie.image} + ')'">
                                            <div class="ep" th:text="${movie.quantityEpisodesNow} + ' / ' + ${movie.totalQuantityEpisodes}">01 / 01</div>
                                            <div class="comment"><i class="fa fa-comments"></i> <span th:text="${movie.quantityRating}">0</span></div>
                                            <div class="view"><i class="fa fa-eye"></i> <span th:text="${movie.totalQuantityView}">0</span></div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li th:text="${movie.status.name}">Active</li>
                                                <li>Movie</li>
                                            </ul>
                                            <h5><a th:href="@{/movie-details/{id}(id=${movie.idMovie})}" th:text="${movie.name}">Movie Name</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Recently Added Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="fas fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="recent-product-container">
                            <div th:each="movie : ${movies}">
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg" th:style="'background-image: url(' + @{/images/} + ${movie.image} + ')'">
                                            <div class="ep" th:text="${movie.quantityEpisodesNow} + ' / ' + ${movie.totalQuantityEpisodes}">01 / 01</div>
                                            <div class="comment"><i class="fa fa-comments"></i> <span th:text="${movie.quantityRating}">0</span></div>
                                            <div class="view"><i class="fa fa-eye"></i> <span th:text="${movie.totalQuantityView}">0</span></div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                <li th:text="${movie.status.name}">Active</li>
                                                <li>Movie</li>
                                            </ul>
                                            <h5><a th:href="@{/movie-details/{id}(id=${movie.idMovie})}" th:text="${movie.name}">Movie Name</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="random-movie-section">
                            <h3>Hôm nay xem gì?</h3>
                            <p>Nếu bạn buồn phiền không biết xem gì hôm nay. Hãy để chúng tôi chọn cho bạn</p>
                            <button id="randomMovieButton" class="random-movie-button">Xem Anime Ngẫu Nhiên</button>
                        </div>
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Day</li>
                                <li data-filter=".week">Week</li>
                                <li data-filter=".month">Month</li>
                                <li data-filter=".years">Years</li>
                            </ul>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                     data-setbg="img/sidebar/tv-1.jpg">
                                    <div class="ep">01 / ?</div>
                                    <div class="view"><i class="fa fa-eye"></i> 4141</div>
                                    <h5><a href="#">Boruto: Naruto next generations</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix month week"
                                     data-setbg="img/sidebar/tv-2.jpg">
                                    <div class="ep">01 / ?</div>
                                    <div class="view"><i class="fa fa-eye"></i> 1341</div>
                                    <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                                </div>
                                <div class="product__sidebar__view__item set-bg mix week years"
                                     data-setbg="img/sidebar/tv-3.jpg">
                                    <div class="ep">01 / ?</div>
                                    <div class="view"><i class="fa fa-eye"></i> 5341</div>
                                    <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="product__sidebar__comment">
                            <div class="section-title">
                                <h5>New Comment</h5>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment1.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Music</li>
                                        <li>Movie</li>
                                    </ul>
                                    <h5><a href="#">Bochi The Rock</a></h5>
                                    <span><i class="fa fa-eye"></i> 10.141 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment2.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Active</li>
                                        <li>Movie</li>
                                    </ul>
                                    <h5><a href="#">Overlord</a></h5>
                                    <span><i class="fa fa-eye"></i> 39.141 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment3.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Active</li>
                                        <li>Movie</li>
                                    </ul>
                                    <h5><a href="#">Spy X Family</a></h5>
                                    <span><i class="fa fa-eye"></i> 119.141 Viewes</span>
                                </div>
                            </div>
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img src="img/sidebar/comment4.jpg" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Active</li>
                                        <li>Movie</li>
                                    </ul>
                                    <h5><a href="#">Black Clover</a></h5>
                                    <span><i class="fa fa-eye"></i> 178.141 Viewes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/player.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
