<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeNet | Nhom4</title>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>
<!-- Page Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<!--<header class="header">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-2">-->
<!--                <div class="header__logo">-->
<!--                    <a href="./index.html">-->
<!--                        <img th:src="@{/img/logo.png}" alt="Logo">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-8">-->
<!--                <div class="header__nav">-->
<!--                    <nav class="header__menu mobile-menu">-->
<!--                        <ul>-->
<!--                            <li class="active"><a href="./index.html">Homepage</a></li>-->
<!--                            <li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>-->
<!--                                <ul class="dropdown">-->
<!--                                    <li><a href="./categories.html">Categories</a></li>-->
<!--                                    <li><a href="./anime-details.html">Anime Details</a></li>-->
<!--                                    <li><a href="./anime-watching.html">Anime Watching</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a href="./blog.html">Our Blog</a></li>-->
<!--                            <li><a href="./blog-details.html">Blog Details</a></li>-->
<!--                        </ul>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-2">-->
<!--                <div class="header__right">-->
<!--                    <a href="#" class="search-switch"><span class="icon_search"></span></a>-->
<!--                    <a href="./login.html"><span class="icon_profile"></span></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="mobile-menu-wrap"></div>-->
<!--    </div>-->
<!--</header>-->

<!-- Main Content -->
<div class="container mt-5">
    <section layout:fragment="content" >
        <!-- Nội dung cụ thể của từng trang sẽ được đặt tại đây -->
    </section>
</div>

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="../static/img/logo.png" alt="Logo"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="./index.html">Homepage</a></li>
                        <li><a href="./categories.html">Categories</a></li>
                        <li><a href="./blog.html">Our Blog</a></li>
                        <li><a href="./blog-details.html">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p>
                    Sản xuất năm 2024 &copy;<script>document.write(new Date().getFullYear());</script> Cái template này được thực hiện bởi bạn Bảo, xin cảm ơn <i class="fa fa-heart" aria-hidden="true"></i>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/player.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/mixitup.min.js}"></script>
<script th:src="@{/js/jquery.slicknav.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/mini-detail.js}"></script>
</body>
</html>
